POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=film

DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=film
DATABASE_USERNAME=student
DATABASE_PASSWORD=student

PORT=3000
FILMS_LIMIT=100
LOGGER_TYPE=json

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_strong_password

# Frontend build
VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha
